body {
  height: 100vh;
  width: 100vw;
  margin: 0px; }

#index_container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative; }

header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  grid-template-columns: inherit;
  grid-template-rows: 1; }

header > i {
  display: grid;
  grid-column: 1 / 2; }

header > h1 {
  display: grid;
  grid-column: 2 / 5; }

nav {
  display: none;
  height: 100vh;
  grid-column: 1 / 4;
  width: 60vw;
  grid-template-columns: 1fr;
  grid-template-rows: inherit;
  position: absolute; }

.nav_active {
  display: grid; }

button:first-child {
  display: grid;
  grid-column: auto;
  grid-row: 2 / 3; }

button:last-child {
  display: grid;
  grid-column: auto;
  grid-row: 3  / 4; }

.temp {
  height: 100vh;
  width: 40vw;
  display: none;
  grid-column: 4 / 6;
  grid-row: 1 / 11;
  grid-template-columns: 40vw;
  grid-template-rows: 100vh;
  position: absolute; }

.active {
  display: grid; }

main {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 3%; }

i {
  cursor: pointer; }

nav {
  background-color: gray; }

header > h1 {
  margin: auto; }

.mobile_nav_button {
  background-color: darkred;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer; }
