<div id="heroes_container">
    <header>
        <i class="material-icons" onclick="toggleNav()" id="toggleMenu">menu</i>
        <h1>Main Menu</h1>
    </header>
    <nav>
        <a class="logo" href="/">
            <img src="img/dota2_icon.png" alt="logo">
        </a>
        <a href="heroes.html" class="mobile_nav_button">Heroes</a>
        <a href="items.html" class="mobile_nav_button">Items</a>
    </nav>
    <div class="temp" onclick="toggleNav()"></div>
    <main>
        <div class="heroes">
            <div class="vertical">
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
            </div>
            <div class="vertical">
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
            </div>
            <div class="vertical">
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
            </div>
        </div>
    </main>
</div>