<div id="heroes_container">
    <header>
        <i class="material-icons" onclick="toggleNav()" id="toggleMenu">menu</i>
        <h1>Heroes</h1>
        <i class="material-icons" onclick="toggleFilter()" id="toggleFilter">filter_list</i>
    </header>
    <nav>
        <a class="logo" href="/">
            <img src="img/dota2_icon.png" alt="logo">
        </a>
        <a href="heroes.html" class="mobile_nav_button">Heroes</a>
        <a href="items.html" class="mobile_nav_button">Items</a>
    </nav>
    <div class="filter">
        <a class="logo" href="/">
            <img src="img/dota2_icon.png" alt="logo">
        </a>
        <div onclick="toggleBox(this, true)" class="row">
            <i class="material-icons">check_box_outline_blank</i>
            <a class="mobile_nav_button">Show names</a>
        </div>
        <div onclick="toggleBox(this, false)" class="row">
            <i class="material-icons">check_box_outline_blank</i>
            <a class="mobile_nav_button">Something</a>
        </div>
        <div onclick="toggleBox(this, false)" class="row">
            <i class="material-icons">check_box_outline_blank</i>
            <a class="mobile_nav_button">Something</a>
        </div>
        <div onclick="toggleBox(this, false)" class="row">
            <i class="material-icons">check_box_outline_blank</i>
            <a class="mobile_nav_button">Something</a>
        </div>
        </div>
    <div class="temp" onclick="blank"></div>
    <main>
        <div class="heroes">
            <div class="vertical">
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
            </div>
            <div class="vertical">
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
            </div>
            <div class="vertical">
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
                <div class="hero">
                    <img src="img/dota2_icon.png" alt="hero">
                    <p>Name</p>
                </div>
            </div>
        </div>
    </main>
</div>