<div id="index_container">
    <header>
        <i class="material-icons" onclick="toggleNav()" id="toggleMenu">menu</i>
        <h1>Main Menu</h1>
    </header>
    <nav>
        <button href="heroes.html.erb" class="mobile_nav_button">
            Heroes
        </button>
        <button href="items.html.erb" class="mobile_nav_button">
            Items
        </button>
    </nav>
    <div class="temp" onclick="toggleNav()"></div>
    <main>
        <div class="slideshow">
            <div class="slideshow_container">
                <div class="main_slides fade">
                    <img src="blank" id="clickbait">
                </div>
                <div class="main_slides fade">
                    <img src="blank" id="clickbait">
                </div>
                <div class="main_slides fade">
                    <img src="blank" id="clickbait">
                </div>
                <!-- Next and previous buttons -->
                <i class="material-icons" id="prev" onclick="plusSlides(-1)">keyboard_arrow_left</i>
                <i class="material-icons" id="next" onclick="plusSlides(1)">keyboard_arrow_right</i>
            </div>

            <div class="dot_container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <h3>News</h3>
        <div class="articles">
            <article>
                <img src="img/dota2_icon.png" alt="test">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, commodi? Id, tempore sint inventore ea cupiditate hic omnis
                    enim quam.
                </p>
            </article>
            <article>
                <hr>
                <img src="img/138339.png" alt="test">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, commodi? Id, tempore sint inventore ea cupiditate hic omnis
                    enim quam.
                </p>
            </article>
            <article>
                <hr>
                <img src="img/138339.png" alt="test">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, commodi? Id, tempore sint inventore ea cupiditate hic omnis
                    enim quam.
                </p>
            </article>
        </div>
    </main>
</div>