<div class="container">
    <header>
        <nav>
            <i class="material-icons" onclick=toggleMobileMenu()>menu</i>
        </nav>
    </header>
    <!-- <input onclick="randomImage();" ; type="button">
    </input> -->
    <img src="blank" id="clickbait">
    <!-- <picture onload="randomImage">
        
    </picture> -->
    <div class="articles">
        <article>

        </article>
    </div>
</div>