body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}

#index_container {
    height: 120vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
}

header {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    grid-template-columns: inherit;
    grid-template-rows: 1;
}

header > i {
    display: grid;
    grid-column: 1 / 2;
}

header > h1 {
    display: grid;
    grid-column: 2 / 5;
}

nav {
    display: none;
    height: 120vh;
    grid-column: 1 / 4;
    width: 60vw;
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
    position: absolute;
}

.nav_active {
    display: grid;
}

button:first-child {
    display: grid;
    grid-column: auto;
    grid-row: 2 / 3;
}

button:last-child {
    display: grid;
    grid-column: auto;
    grid-row: 3  / 4;
}

.temp {
    height: 120vh;
    width: 40vw;
    display: none;
    grid-column: 4 / 6;
    grid-row: 1 / 11;
    grid-template-columns: 40vw;
    grid-template-rows: 120vh;
    position: absolute;
}

.active {
    display: grid;
}

main {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    grid-template-columns: inherit;
    grid-template-rows: repeat(11, 1fr);
    background-color: darkgray;
}

.slideshow {
    display: grid;
    grid-column: span 5;
    grid-row: span 4;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
}

.slideshow_container {
    max-width: 100vw;
    display: grid;
    grid-column: auto;
    grid-row: span 3;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    margin: auto;
}

.dot_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the images by default */
.main_slides {
    display: none;
    grid-column: auto;
    grid-row: 2 / 7;
}

main > picture {
    display: grid;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    font-size: 60px;
}

main > h3 {
    display: grid;
    grid-column: 1 / 6;
    grid-row: span 1;
    text-align: center;
}

main .articles {
    display: grid;
    grid-column: 1 / 6;
    grid-row: span 6;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr)
}

article {
    grid-column: inherit;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

article > img {
    grid-column: span 1;
}

article > p {
    grid-column: span 2;
    margin: 0px;
}

hr {
    grid-column: span 3;
    position: absolute;
    width: 100vw;
    display: block;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, black, transparent);
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-image-slice: 1;
    padding: 0px;
    margin: 0px;
}