body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#index_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
}

#heroes_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(13, 1fr);
    position: relative;
}

#hero_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, 1fr);
    position: relative;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
}

#toggleMenu {
    grid-column: 1 / 2;
    font-size: 60px;
}

#toggleFilter {
    grid-column: -2 / -1;
    font-size: 60px;
}

header > h1 {
    display: grid;
    grid-column: 2 / -2;
}

nav {
    display: none;
    height: 100%;
    grid-column: 1 / 5;
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    position: fixed;
    z-index: 25;
}

.filter {
    display: none;
    height: 100%;
    grid-column: -5 / -1;
    width: 80vw;
    left: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    position: fixed;
    z-index: 25;
}

.logo {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    display: grid;
    grid-column: auto;
    grid-row: span 1;
}

.row {
    display: grid;
    grid-column: auto;
    grid-row: span 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.row i {
    display: grid;
    grid-column: span 1;
    justify-self: center;
    align-self: center;
}

.row a {
    display: grid;
    grid-column: span 3;
    justify-self: left;
}

// .filter 

.temp {
    height: 100%;
    width: 20vw;
    display: none;
    left: 80%;
    position: fixed;
    z-index: 25;
}

.active {
    display: grid;
}

main {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    height: 130vh;
    width: 100%;
    position: absolute;
    grid-template-columns: inherit;
}

#index_container main {
    grid-template-rows: repeat(11, 1fr);
}

#heroes_container main {
    grid-template-rows: repeat(12, 1fr);
}

#hero_container main {
    grid-template-rows: repeat(9, 1fr);
    height: 100%;
}

.slideshow {
    display: grid;
    grid-column: span 5;
    grid-row: span 4;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    z-index: 3;
}

.slideshow_container {
    max-width: 100%;
    display: grid;
    grid-column: auto;
    grid-row: span 3;
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    position: relative;
    margin: auto;
}

.dot_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hide the images by default */
.main_slides {
    display: none;
    grid-column: auto;
    grid-row: 2 / 7;
}

main > picture {
    display: grid;
    grid-column: 1 / 6;
    grid-row: 1 / 4;
}

main > h3 {
    display: grid;
    grid-column: 1 / 6;
    grid-row: span 1;
    text-align: center;
}

main .articles {
    display: grid;
    grid-column: 1 / 6;
    grid-row: span 6;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr)
}

article {
    grid-column: inherit;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    position: relative;
}

article > img {
    grid-column: span 2;
    align-self: center;
}

article > p {
    grid-column: span 5;
    margin: 0px;
    align-self: center;
    word-wrap: break-word;
    margin-right: 5px;
}

.heroes {
    grid-column: auto;
    grid-row: span 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 20px;
    grid-column-gap: 40px;
}

.vertical {
    grid-column: span 1;
    grid-row: auto;
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(6, 1fr);
}

.hero {
    grid-row: span 1;
    width: 80px;
    height: 120px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
}

.hero img {
    grid-row: span 2;
    width: 80px;
    height: 80px;
}

.hero p {
    grid-row: span 1;
    text-align: center;
}

.info_container {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    height: 90vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
}

.info_container > img {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    justify-self: center;
    align-self: center;
}

.titles {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.titles h1 {
    grid-column: span 1;
    text-align: center;
}

.info {
    grid-column: 1 / -1;
    grid-row: 6 / 10;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: repeat(4, 1fr);
    position: relative;
}

.info > .sub-titles {
    grid-column: 1 / -1;
    grid-row: span 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
}

.sub-titles sub {
    margin-top: 2px;
    margin-bottom: 2px;
    grid-column: span 1;
    grid-row: 1 / 2;
    display: grid;
    background-color: #413C3C;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

sub p {
    margin: 0px;
}

.info .tips {
    grid-column: 1 / -1;
    grid-row: span 3;
    display: none;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}

#good {
    grid-template-columns: repeat(2, 1fr);
}

.tips .slideshow_container {
    grid-row: span 2;
    position: relative;
    bottom: 40px;
}

.main_slides > p {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.tips img {
    grid-column: span 1;
    align-self: center;
    justify-self: center;
}

@media (min-width: 1000px) {
    
}