i {
    cursor: pointer;
}

nav {
    background-color: gray;
}

.mobile_nav_button {
    background-color: darkred;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
}
